.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
      
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .collection-preview {
    // width: 100%;
  
    .title {
      font-size: 18px;
      margin-bottom: 25px;
    }
  
    .preview {

      flex-direction: column;
    }
      
}
}

  $breakpoint-mobile: 428px;
  @media (max-width: $breakpoint-mobile) {
      .preview {
          width: 80vw;
          flex-direction: column;
          margin-bottom: 10px;
      }
      
  }