body {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    padding: 20px 60px;
}

$breakpoint-mobile: 428px;
@media (max-width: $breakpoint-mobile) {
    body {
        padding: 20px 25px;
    }
}

:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

* {
    box-sizing: border-box;
}