.sign-in {
    min-width: 320px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .subtitle {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
    }

    .form-buttons {
        max-width: 380px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap:4px
    }
}

@media screen and (max-width: 428px) {
    .sign-in {
        width: 320px;
    }
}