.sign-up {
    display: flex;
    flex-direction: column;
    min-width: 380px;

    .title {
        margin: 10px 0;
    }

    .subtitle {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
    }
}