body {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    padding: 20px 60px;
}

:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

* {
    box-sizing: border-box;
}